<mat-card>

  <mat-toolbar color="primary">Available Courses</mat-toolbar>

  <!-- var Observable courses$ c/ pipe async as courses -->
  <!-- enquanto não terminar a chamdas async, else loading -> spinner -->
  <div class="example-container mat-elevation-z8 column-flex" *ngIf="courses$ | async as courses; else loading">
    <app-courses-list
    [courses]="courses"
    [displayedColumns]="displayedColumns"
    [showActions]="true"
    [showEdit]="true"
    [showDelete]="true"
    (add)="onAdd()"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)"
    ></app-courses-list>
  </div>

  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>    
  </ng-template>

  <div *ngIf="courses$ | async as courses">
    <button mat-icon-button color="acent" aria-label="Add course">
      Adicionar Novo Curso
      <mat-icon (click)="onAdd()">add</mat-icon>
    </button>
  </div>

  

</mat-card>